@use "./common/base.scss" as *;

:root {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $font-primary-color;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  background: rgb(138, 136, 134);
  background: linear-gradient(
    180deg,
    rgba(138, 136, 134, 1) 15%,
    rgba(212, 209, 208, 1) 62%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

button {
  border-radius: 2rem;
  border: 1px solid transparent;
  padding: 0.7rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(128, 128, 128, 0.1);
  cursor: pointer;
  border: 1px solid #cccccc1e;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
